
body{
  width:768px;
  /*height: 1024px;*/
  background-color: lightgray
}
.navbar-default {
    background-color: #232C34 !important;
  }
  .navbar {
    min-height: 70px !important;
  }
  a:hover{
    color:transparent !important;
  };